.root {
    width: 300px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 16px;
    
    @media (max-width: 1030px) {
       width: 250px;
      }
    
    @media (max-width: 960px) {
        width: 200px;
      }
      @media (max-width: 850px) {
        margin-right: 30px;
      }
      @media (max-width: 749px) {
        height: 60px;
      }
      @media (max-width: 693px) {
        height: 90px;
        width: 100px;
      }
      @media (max-width: 645px) {
        height: 30px;
        width: 250px;
        margin-bottom: 20px;
        margin-right: 0;
      }
}

